loopback_interfaces:
{% if switch.router_id is arista.avd.defined %}
{# BGP Loopback #}
  Loopback0:
    description: Overlay_Peering
    shutdown: false
    ip_address: {{ switch.router_id }}/32
    ipv6_address: {{ switch.ipv6_router_id }}/128
{%     if switch.underlay_routing_protocol == "ospf" %}
    ospf_area: {{ underlay_ospf_area }}
{%     endif %}
{%     if switch.underlay_routing_protocol == "isis" %}
    isis_enable: MPLS_UNDERLAY
    isis_passive: true
    mpls:
      ip: true
{%         if label_distribution.protocol is arista.avd.defined("isis-sr") %}
{# Put node-segment stuff here #}
    node_segment:
      index: {{ switch.id }}
      ipv4: true
      ipv6: true
{%         elif label_distribution.protocol is arista.avd.defined("ldp")%}
      ldp:
        interface: true
{%         endif %}
{%     endif %}
{% endif %}
