# {{ schema_keys.key }}

## Description

{{ schema_keys.value.description }}

## Variables

| Variable | Type | Required | Default | Value Restrictions | Description |
| -------- | ---- | -------- | ------- | ------------------ | ----------- |
{% for item in schema_keys.value.table %}
| {{ item.variable | regex_replace('  ','&nbsp;&nbsp;') }} | {{ item.type }} | {{ item.required | arista.avd.default }} | {{ item.default | arista.avd.default }} | {{ item.restrictions | arista.avd.default }} | {{ item.description | arista.avd.default }} |
{% endfor %}

## YAML

```yaml
{% for item in schema_keys.value.yaml %}
{{ item }}
{% endfor %}
```